* {
  margin: 0;
  padding: 0;
}

.passage {
  font-size: 28px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 40px;
}

.custom-scroll {
  height: fit-content;
}

.scroll {
  height: 10px;
  background-color: seagreen;
  position: fixed;
}
